/* body{
background-color: blue;

} */
/* #cv-form{
    display:none; */
/* } */
#ImageT{
border: 5px solid rgba(5, 5, 5, 0.986);
width: 250px;
height: 250px;
}
.head{

    color:white;
    background-color: rgb(5, 5, 5);
    width: 400px;
    height:50px;
    border:5px solid rgb(5, 5, 5);
    padding:10px 10px 10px 10px;
    margin:0;


}
#cv-template,#EditCV,#Download{
    display:none;
}